body, h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.messenger-title {
    padding: 1%;
    height: 5%;
    text-align: center;
    color: steelblue;
}

/* LOGIN SCREEN */

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: steelblue;
    background: linear-gradient(steelblue,  #999999);  width: 95%;
    max-width: 450px;
    min-height:200px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

 .form-login{
    position: fixed;
    top: 55%;
    transform: translate(0%, -50%);
    width: 100%;
} 

#username-login {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

#password-login {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

.button-login{
    background-color: steelblue;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 5px 20px;
}

#registration-link{
    color:black;
    font-size: 12px;
    margin-bottom: 5px;
}

/* ----- END LOGIN SCREEN ----- */

.form-register{
    position: fixed;
    top: 55%;
    transform: translate(0%, -50%);
    width: 100%;
} 

#username-register {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

#password-register {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

.button-register{
    background-color: steelblue;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 5px 20px;
}

#login-link{
    color:black;
    font-size: 12px;
    margin-bottom: 5px;
}

/* ----- START REGISTRATION SCREEN ----- */


/* ----- END REGISTRATION SCREEN ----- */


/* ---------- 3 COLUMN CONTAINER UPDATES ---------- */

/* ---- USER LIST COLUMN CSS ---- */

.userlist, .chatUI, .privateChatUI {
    float: left;
    color: white;
    border: black;
    padding: 10px;
    height: 500px;
    border-radius: 5px;     
    text-align: center;
}

.userlist{
    background-color: lightgrey;    
    width: 20%;
}

.chatUI{
    background-color: white;
    width: 50%;
}

.privateChatUI{
    background-color: lightgrey;
    width: 30%;
}

.userlist{
    font-size: 16px;     
    text-align: left; 
    color: white;
}

#userlist-dropdown-button{
    position: absolute;
    margin: 0;
    display:inline-block;
    bottom: 29%;
    left:8%;
    background-color: steelblue;
    border-color: steelblue;
    width:12%;
}
/* ---- END USER LIST COLUMN CSS ---- */

/* ---- GROUP CHAT COLUMN CSS ---- */

#yourmessage{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

.button-messages {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

 .form-messages{
    position: fixed;
    display: inline-block;
    transform: translate(-50%, 300%)
} 

#messages {
    font-size: 16px;     
    position: absolute;
    margin: 0;
    display:inline-block;
    bottom: 125%;
    left:1%;
    padding: 1%;
    width: 100%;
    max-width: 600px;
    min-height: 250%;
    background: linear-gradient(steelblue,  #999999);  
    width: 100%;
    text-align: left; 
    color: white;
    border-radius: 5px;
    max-height: 250%;
    overflow-y: scroll;
} 

#typing{
    position: absolute;
    left: 36%;
    bottom: 100%;
}
 /* ---- END GROUP CHAT COLUMN CSS ---- */


 /* ---- PRIVATE CHAT COLUMN CSS ---- */

 .form-priv-messages{ /* TODO: overall fix this position */
    position: fixed;
    display: inline-block;
    transform: translate(-50%, 250%)
} 
#private-or-group-chat-dropdown-button {
    position: absolute;
    margin: 0;
    display: inline-block;
    bottom: 73%;
    left: 71%;
    background-color: #999999;
    border-color: #999999;
    width: 11%;
}

#private-chat-dropdown-button {
    position: absolute;
    margin: 0;
    display:inline-block;
    bottom: 300%;
    left: 55%;
    background-color: steelblue;
    border-color: steelblue;
    width: 85%;
}

.button-priv-messages-send {
   background-color: steelblue;
    border: none;
    color: white;
    position:fixed;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    border-radius: 5px 5px 5px 5px;
    margin: 20px 20px 5px 20px;
    top: 280%;
    left: -40%;
}
.button-priv-messages-clear {
    background-color: steelblue;
     border: none;
     color: white;
     position: relative;
     padding: 10px 60px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 13px;
     box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
     border-radius: 5px 5px 5px 5px;
     margin: 5px 20px 5px 20px;
     top: 225%;
    left: 5%;
 }

#privatemessages{
    font-size: 16px;
    position: absolute;
    margin: 0;
    display: inline-block;
    left: -30%;
    top: -180%;
    padding: 1%;
    width: 100%;
    min-width: 160%;
    min-height: 370%;
    background: linear-gradient(steelblue, #999999);
    width: 100%;
    text-align: left;
    color: white;
    border-radius: 5px;
    max-height: 170%;
    overflow-y: scroll;
}

#private-typing{
    position: absolute;
    left: 30%;
    bottom: -90%;
}

#yourprivatemessage{
    background-color: #f6f6f6;
    position: absolute;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 0px;
    left: -20%;
    top: 230%;
    width: 140%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

/* --- END PRIVATE CHAT COLUMN CSS --- */

/* ---- GROUP CHAT COLUMN CSS ---- */

.form-group-messages{ /* TODO: overall fix this position */
    position: fixed;
    display: inline-block;
    transform: translate(-50%, 250%)
} 

#group-chat-dropdown-button {
    position: absolute;
    margin: 0;
    display:inline-block;
    bottom: 300%;
    left: 43%;
    background-color: steelblue;
    border-color: steelblue;
    width: 80%;
}

#plus-gc{
    position: absolute;
    left:128%;
    bottom: 300%;
    font-size:small;
    background-color:steelblue;
    width:9%;
}
.button-group-messages-send {
   background-color: steelblue;
    border: none;
    color: white;
    position:fixed;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    border-radius: 5px 5px 5px 5px;
    margin: 20px 20px 5px 20px;
    top: 280%;
    left: -40%;
}
.button-group-messages-clear {
    background-color: steelblue;
     border: none;
     color: white;
     position: relative;
     padding: 10px 60px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 13px;
     box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
     border-radius: 5px 5px 5px 5px;
     margin: 5px 20px 5px 20px;
     top: 225%;
    left: 5%;
 }

#groupmessages{
    font-size: 16px;
    position: absolute;
    margin: 0;
    display: inline-block;
    left: -30%;
    top: -180%;
    padding: 1%;
    width: 100%;
    min-width: 160%;
    min-height: 370%;
    background: linear-gradient(#999999, steelblue);
    width: 100%;
    text-align: left;
    color: white;
    border-radius: 5px;
    max-height: 170%;
    overflow-y: scroll;
}

#yourgroupmessage{
    background-color: #f6f6f6;
    position: absolute;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 0px;
    left: -20%;
    top: 230%;
    width: 140%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

#yourgroupname{
    background-color: #f6f6f6;
    position: absolute;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 0px;
    left: 5%;
    top: 20%;
    width: 75%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

#addgroupmember{
    background-color: #f6f6f6;
    position: absolute;
    border: none;
    color: #0d0d0d;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 0px;
    left: 5%;
    top: 60%;
    width: 50%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

.add-group-name{
    left: 63%;
    position: absolute;
    top: 16%;
}

.add-group-member{
    left: 63%;
    position: absolute;
    top: 61%;
}



/* --- END GROUP CHAT COLUMN CSS --- */


footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: light-grey;
    color: black;
    font-size: 14px;
}